.calc-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 15px;
}

.input-calc {
  min-height: 150px;
  line-height: 2.4;
  resize: vertical;
}

.output-calc {
  display: flex;
  align-items: center;
  width: 80%;
  height: 100px;
  padding: 15px 30px;
  margin-bottom: 0;
  font-size: 30px;
}

.btn-calc {
  width: 70px;
  height: 70px;
  margin-right: 20px;
  border-radius: 10px;
  font-size: 28px;
  background: #d2b48cb0;
  color: #625c54;
  cursor: pointer;
}